.option-row{
  padding:10px 0; display:flex; flex-flow:row;
}

.option-row .option-row-label{
  width:70px;
  padding-top:3px;
  color:#c2c2c2
}

.option-row .button-group, .option-row .label-group{
  display:flex; 
  flex-flow:row;
  flex-wrap: wrap;
  flex: 1;
}

.option-row .button-group .op-button{
  display: flex;
  height: 26px;
  align-items: center;
  padding: 0 5px;
  background:#535353;
  border-radius:3px;
  margin:1px;
  cursor: pointer;
}

.option-row .op-icon-button{
  display: flex;
  height: 26px;
  width: 26px;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  padding-bottom:3px;
  background:#424242;
  border-radius:3px;
  margin:1px;
  cursor: pointer;
}

.option-row .button-group .op-button.selected{
  background:#424242;
}


.option-row .label-group .op-label{
  display: flex;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background:#424242;
  border-radius:3px;
  margin:1px;
}

.option-row .label-group .op-label .right-icon{
  margin-left: 5px;
  cursor: pointer;
}
