.option-row{
  padding:4px 0; display:flex; flex-flow:row;
}

.option-row .option-row-label{
  width:70px;
  padding-top:3px;
  color:#c2c2c2
}

.option-row .option-row-label.sub-label{
  text-align: center;
}

.option-row .option-row-label.dropdown::after{
  position: absolute;
  content: '';
  width: 0; 
  height: 0;
  top: 13px;
  right: 7px;
  border-width: 4px;
  border-style: solid;
  border-color: #c2c2c2 transparent transparent  transparent;
  //border-color:transparent transparent  transparent #c2c2c2;
}


.option-row .button-group, .option-row .label-group{
  display:flex; 
  flex-flow:row;
  flex-wrap: wrap;
  flex: 1;
}

.option-row .op-button{
  display: flex;
  height: 26px;
  align-items: center;
  padding: 0 5px;
  background:#535353;
  border-radius:3px;
  margin:1px;
  cursor: pointer;
}

.option-row .op-icon-button{
  display: flex;
  height: 26px;
  width: 26px;
  font-size: 17px;
  align-items: center;
  justify-content: center;
  padding-bottom:3px;
  background:#424242;
  border-radius:3px;
  margin:1px;
  cursor: pointer;
}

.option-row .op-button.active{
  background:#424242;
}


.option-row .op-label{
  display: flex;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  background:#424242;
  border-radius:3px;
  margin:1px;
}

.option-row .op-label .right-icon{
  margin-left: 5px;
  cursor: pointer;
}

.option-row .op-label .left-icon{
  margin-right: 5px;
  cursor: pointer;
}

.option-row .ctl-select{
  position: relative;
}

.option-row .select-list{
  display: flex;
  flex-flow: column;
  position: absolute;
  top:26px;
  margin:0;
  padding:10px;
  list-style: none;
  background: #424242;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4); 
  display: none;
  z-index: 100;
  white-space:nowrap;
}

.option-row .two-column .select-list{
  flex-flow: row;
  flex-wrap: wrap;
  width: 200px;
  right:-50%;
}

.option-row .select-list li{
  display: flex;
  flex-wrap: nowrap;
  height: 26px;
  padding:0 10px;
  line-height: 100%;
  cursor: pointer;
  align-items: center;
}

.option-row .two-column .select-list li{
  width: 50%;
}

.option-row .select-list li:hover{
  background: #75b325;
}

.ctl-select{
  display: flex;
  flex-flow: row;
}

.ctl-select .op-label{
  cursor: pointer;
}

.ctl-multi-select{
  display:flex; 
  flex-flow:row;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
}

.ctl-multi-select .select-list{
  position: absolute;
  width: 100%;
  margin:0;
  padding:0;
  top:100%;
  background: #424242;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4); 
  display: flex;
  flex-flow: column;
}