::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.5rem;
  background: #232323;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #535353;
  transition: all .2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

.show-outline{
  outline:dashed #70baf7 1px;
}
  
.actived{
  outline: #a4d762 solid 1px;
  position:relative;
}
.focused{
  outline: #75b325 solid 2px;
  position:relative;
}

.dragged{
  position:relative;
  //opacity: 0.6;
}

/*遮住内部子元素，不让其响应dragover事件*/
.dragged::after{
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background:repeating-linear-gradient(135deg,#DADADA,#F5F5F5 5px);
  border:#75d678 dashed 2px;
}

.node-label{
  background-color: #a4d762;
  border:solid #a4d762 1px;
  color:#fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  padding: 0px 2px;
  position: fixed;
  height:16px;
  cursor: move;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 999999
}

.node-label.focused{
  background-color: #75b325;
  border:solid #75b325 1px;
  color:#fff;
}


/*.element-label{
  display: none;
}

.show-outline .element-label{
  display: block;
}

.hide-label > .element-label{
  display: none;
}

.dragged .element-label{
  display: none;
}*/

.dragover{
  position:relative;
  cursor: pointer;
}

.dragover::before{
  content:"";
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  outline: #aceeaf solid 1px;
  background-color: #effcf0;
}

/*.element-label{
  background-color: #E3F2FD;
  border: 1px solid #DDDDDD;
  color: #9DA0A4;
  font-size: 12px;
  font-weight: normal;
  left: -1px;
  line-height: 14px;
  padding: 0px 2px;
  position: absolute;
  height:16px;
  top: -16px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.to-bottom.element-label{
  top:0;
} */

/*.actived > .element-label{
  background-color: #a4d762;
  border:solid #a4d762 1px;
  color:#fff;
  display: block;
}

.focused > .element-label{
  background-color: #75b325;
  border:solid #75b325 1px;
  color:#fff;
  display: block;
}

.dragged .element-label{
  background-color: #E3F2FD;
  border: 1px solid #DDDDDD;
  color: #9DA0A4;
  -moz-opacity:0.6;
  opacity: 0.6;
}*/

.node-toolbar{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  background-color: #75b325; 
  color:#fff;
  position: fixed;
  height: 26px;
  width: 100px;
  z-index: 1999999
}

.node-toolbar .rx-button{
  display: inline-block;
  margin:0;
  padding:4px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 2px;
  width: 24px;
  height: 20px;
  text-align: center;
}

.node-toolbar .rx-button:hover{
  background: #9bc659;
}

.mouse-follow{
  position: fixed;
  z-index: 999999;
  cursor: pointer;
  pointer-events: none;
  opacity: 0.7;
  background: #eee;
}

/*===mini-editbar==>*/
.mini-editor{
  position: relative;
}

.mini-editbar{
  position: fixed;
  display: flex;
  display: -webkit-flex;
  flex-flow:row;
  align-items:center;
  justify-content:center;
  padding:2px;
  background: #313131;
  color:#c2c2c2;
  border-radius: 2px;
  z-index: 2999999
}


.mini-editbar .mini-button{
  font-size: 14px;
  margin:1px;
  text-align: center;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
}

.mini-editbar .icon-button{
  width: 26px;
}

.mini-editbar .mini-button:hover{
  background: #4a4a4a;
}

.mini-editbar .mini-button.active{
  background: #4a4a4a;
}

.mini-editbar .mini-styles{
  display: flex;
  align-items:center;
  justify-content:space-between;
  line-height: 26px;
  font-size: 12px;
  padding:0 6px;
  cursor: pointer;
  position: relative;
}

.mini-editbar .mini-styles{
  width: 50px;
}

/*<===mini-editbar==*/

.d-rx-none, .rx-invisble{
  position: relative;
}

.d-rx-none::after{
  content:'Hidden';
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  color:#FFF;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rx-invisble::after{
  content:'Invisible';
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  color:#FFF;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .d-sm-rx-none{
    position: relative;
  }

  .d-sm-rx-none::after{
  content:'Hidden';
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  color:#FFF;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

@media (min-width: 768px) {
  .d-md-rx-none{
    position: relative;
  }

  .d-md-rx-none::after{
  content:'Hidden';
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  color:#FFF;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}
@media (min-width: 992px) {
  .d-lg-rx-none{
    position: relative;
  }
  .d-lg-rx-none::after{
  content:'Hidden';
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  color:#FFF;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}
@media (min-width: 1200px) {
  .d-xl-rx-none{
    position: relative;
  }
  .d-xl-rx-none::after{
  content:'Hidden';
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 100%;
  color:#FFF;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}