.rx-editor{
  display: flex;
  display: -webkit-flex;
  flex-flow:row;
  height: 100%;
  width: 100%;
}

.rx-left-area{
  display: flex;
  flex-grow: 1;
  flex-direction:column;
}

.rx-right-area{
  width: 250px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.5); 
  overflow-x: hidden;
  transition: all 0.3s;
}

.rx-toolbar{
  height: 44px;
  background: #424242;
  color:#f0f1ef;
  display: flex;
  display: -webkit-flex;
  align-items:center;
  justify-content:space-between;
  padding: 0 5px;
}

.rx-toolbar .left, .rx-toolbar .center, .rx-toolbar .right{
  display: flex;
  display: -webkit-flex;
  flex-flow:row;
}

.rx-toolbar .toolbar-button{
  margin:1px;
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

.rx-toolbar .toolbar-button:hover, .rx-toolbar .toolbar-button.active{
  background: #313131;
}

.rx-workspace{
  display: flex;
  flex-grow: 1;
  background: #313131;
}

.rx-workspace iframe{
  margin:auto;
  transition: all 0.3s;
}

.rx-drawer{
  display: flex;
  flex-flow:column;
  height: 100%;
  color:#f0f1ef;
  background: #424242; 
}

.rx-drawer .top-header{
  display: flex;
  flex-flow:row;
  align-items:flex-end;
  height: 44px;
  background: #424242;
  color:#f0f1ef;
}

.rx-drawer .top-header .item{
  font-size: 20px;
  height: 44px;
  line-height: 38px;
  cursor: pointer;
  padding: 0px 30px;
  border:transparent solid 2px;
}

.rx-drawer .top-header .item.active{
  background: #313131;
}

.rx-drawer .top-header .item:hover{
  background: #313131;
  border:#424242 solid 2px;
  border-radius: 5px;
}

.rx-drawer .top-header .item.active:hover{
  background: #313131;
  border:#313131 solid 2px;
  border-radius: 0;
}

.rx-drawer .tab-contents{
  background: #313131;
  flex-grow: 1;
}

.rx-drawer .tab-body{
  flex-grow: 1;
  display: none;
}

.rx-drawer .tab-body.active{
  display: block;
}

.rx-drawer .tool-group{
}

.rx-drawer .toolbox{
  display: flex;
  flex-flow: column;
  padding-top:10px;
}

.rx-drawer .tool-group .group-title{
  font-size: 13px;
  line-height: 13px;
  background: #313131;
  height: 26px;
  padding:0 8px;
  color:#f0f1ef;
  cursor: pointer;
  padding-left:16px;
  position: relative;
}

.rx-drawer .group-body{
  background: #404040;
  padding: 10px;
  margin:5px 10px;
  transition: all 0.3s;
}

.rx-drawer .tool-group .group-title::after{
  position: absolute;
  content: '';
  width: 0; 
  height: 0;
  top: 7px;
  left: 4px;
  border-width: 4px;
  border-style: solid;
  border-color: #f0f1ef transparent transparent  transparent;
}

.rx-drawer .tool-group.group-collapse .group-title{
  border-bottom:#222 solid 1px;
}

.rx-drawer .tool-group.group-collapse .group-title::after{
  position: absolute;
  content: '';
  width: 0; 
  height: 0;
  top: 3px;
  left: 7px;
  border-width: 4px;
  border-style: solid;
  border-color:transparent transparent  transparent #f0f1ef;
}



.rx-drawer .group-collapse .group-body{
  height: 0;
  padding: 0;
  overflow: hidden;
}


.rx-drawer .group-body .element{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: #313131 solid 1px;
  color: #c2c2c2;
  font-size: 13px;
  padding:5px 5px;
  margin:3px;
}

.rx-drawer .group-body .element:hover{
  color: #75b325;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4); 
}

.shell-mousefollower{
  position: fixed;
  width: 205px;
  background: #404040;
  pointer-events: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4); 
  opacity: 0.7;
}