::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: #232323;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #535353;
  transition: all .2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

::-webkit-scrollbar-corner{
  background: #232323;
}

html,body {
    margin:0;
    height:100%;
    min-height:100%;
    font-size: 13px;
    color: #ccc;
}

a{
  color:#fff;
  text-decoration: none;
}
a:hover{
  color:#75b325;
}

.vular-studio{
  display: flex;
  display: -webkit-flex;
  height: 100%;
  width: 100%;
  flex-flow:column;
}

.vular-studio .logo{
  color:#8cdb27; 
  font-size:22px;
  font-weight:600;
}

.vular-studio .toolbar{
  display: flex;
  width: 100%;
  height: 40px; 
  background: #363932;
  align-items: center;
  justify-content: space-between;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
.vular-studio .toolbar .button{
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  color:#fff;
}

.vular-studio .toolbar .button:hover{
  background: rgba(255,255,255,0.05);
}

.vular-studio .toolbar .button i{
  margin-right: 5px;
  font-size: 16px;
}

.vular-studio .toolbar .button.new i{
  color:#a8c9da;
}

.vular-studio .toolbar .button.theme i{
  color:#9da98d;
}

.vular-studio .toolbar .button.open i{
  color:#9e71a5;
}

.vular-studio .toolbar .button.save i{
  color:#75b325;
}

.vular-studio .toolbar .button.about i{
  color:#d8d2f4;
}
.vular-studio .toolbar .button.download i{
  color:#bdcbaa;
}



.vular-studio .toolbar .left{
  padding-left: 10px;
  display: flex;
  flex-flow: row;
}

.vular-studio .toolbar .right{
  padding-right: 10px;
  display: flex;
  flex-flow: row;
}

.vular-studio .workspace{
  display: flex;
  display: -webkit-flex;
  width: 100%;
  flex:1;
  background: #272727;
  flex-flow: row;
}

.vular-studio .left-area{
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border:solid #1a1a1a 1px;
  padding-top:3px;

  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vular-studio .center-area{
  flex : 1;
  display: flex;
  flex-flow: column;
}


.vular-studio .right-area{
  display: flex;
  display: -webkit-flex;
  flex-flow: row;
  border:solid #1a1a1a 1px;
  padding-top:3px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vular-studio .right-area .right-inner{
  flex:1;
}

.vular-studio .page-tabs{
  flex: 1;
  display: flex;
  flex-flow: column;
}

.vular-studio .x-handle{
  width: 3px;
  flex-shrink: 0;
  cursor: w-resize;
}

.vular-studio .y-handle{
  height: 3px;
  flex-shrink: 0;
  cursor: s-resize;
}

.vular-studio .page-tabs .tab-heads{
  height: 33px;
  display: flex;
  align-items: flex-end;

  list-style: none;
  margin:0;
  padding:0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.vular-studio .page-tabs .tab-heads .head-item{
  height: 30px;
  font-size: 12px;
  color:#FFF;
  padding-left:10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  cursor: default;
}

.vular-studio .page-tabs .tab-heads .head-item.active{
  background: #494c45;
  border-radius: 3px 3px 0 0;
}

.vular-studio .page-tabs .tab-heads .head-item .close{
  margin-left: 10px;
  background: #272727;
  width: 16px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-bottom: 2px;
  cursor: pointer;
  font-weight: bold;
}

.vular-studio .page-tabs .tab-heads .head-item .close:hover{
  background: #e62121;
}

.vular-studio .page-tabs .tab-body{
  flex: 1;
  display: flex;
  flex-flow: column;
}

.vular-studio .page-tabs .page-toolbar{
  height: 35px;
  background: #494c45;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.vular-studio .page-toolbar .left{
  margin-left:10px;
  display: flex;
  flex-flow: row;
}

.vular-studio .page-toolbar .right{
  margin-right:10px;
  display: flex;
  flex-flow: row;
}

.vular-studio .page-toolbar .icon-button{
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1px;
  border-radius: 2px;
}

.vular-studio .page-toolbar .icon-button:hover{
  background: rgba(0,0,0,0.5);
}

.vular-studio .page-toolbar .icon-button.active{
  background: rgba(0,0,0,0.5);
}

.vular-studio .page-toolbar .icon-button.big i{
  font-size: 14px;
}

.vular-studio .center-area .page-content{
  display: flex;
  flex: 1;
  flex-flow: row;
  padding: 10px;
}

.vular-studio .content-scroll{
  overflow: auto;
  flex-grow: 1;
  height: calc(100vh - 130px);
  width: 0;
}

.vular-studio .page-tabs  .canvars{
  background: #fff;
  width: 1200px;
  height: 1000px;
  display: flex;
  flex-flow: column;
}

.vular-studio .scroll-y{
  overflow-y: auto;
  flex-grow: 1;
  height: 0;
  width: 100%;
}


.vular-studio .left-area .left-inner{
  flex:1;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.vular-studio .top-area{
  flex: 1;
  border-bottom:solid #222 1px;
  display: flex;
  flex-flow: column;
}

.vular-studio .left-inner .bottom-area{
  display: flex;
  flex-flow: column;
}

.vular-studio .bottom-area .bottom-inner{
  flex: 1;
  height: 0;
  display: flex;
  flex-flow: column;
}

.vular-studio .right-area .right-inner{
  flex:1;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.vular-studio .right-inner .bottom-area{
  display: flex;
  flex-flow: column;
}

/*==node tree=======>*/
.node-tree{
  flex: 1;
  width: 100%;
  overflow-y: auto;
  height: 0;
  display: flex;
  flex-flow: column;
  margin-top: 2px;
}

.tree-node .tree-node-title{
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 24px;
}

.tree-node.disable > .tree-node-title{
  color:#888;
}
.tree-node .tree-node-title .title-icon{
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
}


.tree-node-title .title-icon::before{
  position: absolute;
  content: '';
  width: 0; 
  height: 0;
  top: 7px;
  left: 5px;
  border-width: 4px;
  border-style: solid;
  border-color:transparent transparent  transparent #f0f1ef;
}

.tree-node .open > .tree-node-title .title-icon::before{
  position: absolute;
  content: '';
  width: 0; 
  height: 0;
  top: 7px;
  left: 5px;
  border-width: 4px;
  border-style: solid;
  border-color: #f0f1ef transparent transparent  transparent;
}

.tree-node.focused{
  background: #073d69;
}

.tree-node .leaf > .tree-node-title .title-icon::before{
  content: "";
}

.tree-node .tree-node-title .title-text{
  display: flex;
  align-items: center;
  cursor: default;
  flex-grow: 1;
}

.tree-node-body{
  display: none;
  flex-flow: column;
  padding-left: 12px;
}

.open > .tree-node-body{
  display: flex;
}

/*<==node tree=======*/


/*===Tool box =====>*/
.toolbox-element .element-title{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  color: #c2c2c2;
  font-size: 13px;
  padding:5px 10px;
  margin:3px;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.toolbox-element .element-title i{
  margin-right: 5px;
  margin-top:1px;
}

.toolbox-element .element-title:hover{
  background: rgba(255,255,255,0.05)

}

.toolbox-element{
}

.toolbox-element .pop-content{
  position: absolute;
  top:70px;
  left:100%;
  width: 320px;
  padding:10px;
  background: #eee;
}
/*<=================*/

