::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.5rem;
  background: #232323;
}
::-webkit-scrollbar-track {
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #535353;
  transition: all .2s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

.rx-editor{
  display: flex;
  display: -webkit-flex;
  flex-flow:row;
  height: 100%;
  width: 100%;
}

.rx-left-area{
  display: flex;
  flex-grow: 1;
  flex-direction:column;
}

.rx-right-area{
  width: 290px;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.5); 
  overflow-x: hidden;
  transition: all 0.3s;
}

.theme-button .icon{
  width: 20px;
  height: 20px;
}

.rx-toolbar{
  height: 44px;
  background: #424242;
  color:#f0f1ef;
  display: flex;
  display: -webkit-flex;
  align-items:center;
  justify-content:space-between;
  padding: 0 5px;
}

.rx-toolbar .left, .rx-toolbar .center, .rx-toolbar .right{
  display: flex;
  display: -webkit-flex;
  flex-flow:row;
}

.rx-toolbar .toolbar-button{
  margin:1px;
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}

.rx-toolbar .toolbar-button.active{
  background: #313131;
}

.rx-toolbar .toolbar-button:hover{
  background: #525252;
}

.rx-toolbar .toolbar-button.active:hover{
  background: #313131;
}


.rx-toolbar .toolbar-button.disable{
  pointer-events: none;
  color:#999;
}

.rx-workspace{
  display: flex;
  flex-grow: 1;
  background: #313131;
}

.rx-workspace iframe{
  margin:auto;
  transition: all 0.3s;
}

.rx-drawer{
  display: flex;
  flex-flow:column;
  height: 100%;
  color:#f0f1ef;
  background: #424242; 
}

.rx-drawer .top-header{
  display: flex;
  flex-flow:row;
  align-items:flex-end;
  height: 44px;
  background: #313131;
  color:#f0f1ef;
}

.rx-drawer .top-header .item{
  font-size: 20px;
  height: 44px;
  line-height: 38px;
  cursor: pointer;
  padding: 0px 30px;
  border:transparent solid 2px;
}

.rx-drawer .top-header .item.active{
  background: #383838;
}

.rx-drawer .top-header .item:hover{
  background: #383838;
  border:#313131 solid 2px;
  border-radius: 5px;
}

.rx-drawer .top-header .item.active:hover{
  background: #383838;
  border:#383838 solid 2px;
  border-radius: 0;
}

.rx-drawer .tab-contents{
  background: #383838;
  flex-grow: 1;
}

.rx-drawer .tab-body{
  display: none;
  height: calc(100vh - 44px);
}

.rx-drawer .tab-body.active{
  display: flex;
  flex-flow: column;
}

.rx-drawer .tool-group{
}

.rx-drawer .toolbox{
  display: flex;
  flex-flow: column;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #313131;
  margin:5px;
  border-bottom: #424242 solid 1px;
  border-right: #424242 solid 1px;
  border-top: #282828 solid 1px;
  border-left: #2f2f2f solid 1px;
  overflow-y:auto;
  height:100%; 
}

.rx-drawer .toolbox-scroll{
  overflow-y:auto;
  height: 55%;
}

.rx-drawer .toolbox .tool-group .group-title{
  display: flex;
  align-items: center;
  font-size: 13px;
  //background: #313131;
  height: 36px;
  color:#f0f1ef;
  cursor: pointer;
  padding-left: 15px;
  padding-bottom:3px;
  position: relative;
  border-bottom:#282828 solid 1px;
  border-top:#383838 solid 1px;
}

.rx-drawer .toolbox .no-title-top-border .group-title{
  border-top:transparent solid 1px;
}

.rx-drawer .toolbox .group-body{
  /*background: #404040;*/
  font-size: 14px;
  padding: 0px 10px;
  margin:5px;
}

.rx-drawer .toolbox .tool-group .group-title::after{
  position: absolute;
  content: '';
  width: 0; 
  height: 0;
  top: 16px;
  right: 19px;
  border-width: 4px;
  border-style: solid;
  border-color: #f0f1ef transparent transparent  transparent;
}

.rx-drawer .toolbox .tool-group.group-collapse .group-title{
}

.rx-drawer .toolbox .tool-group.group-collapse .group-title::after{
  position: absolute;
  content: '';
  width: 0; 
  height: 0;
  top: 12px;
  right: 17px;
  border-width: 4px;
  border-style: solid;
  border-color:transparent transparent  transparent #f0f1ef;
}



.rx-drawer .toolbox .group-collapse .group-body{
  height: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}


.rx-drawer .toolbox .group-body .element{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move;
  color: #c2c2c2;
  font-size: 13px;
  padding:5px 5px;
  margin:3px;
}

.rx-drawer .toolbox .group-body .element:hover{
  color: #75b325;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4); 
}

.rx-drawer .node-tree-box{
  display: flex;
  flex-flow: column;
  background: #383838;
  height: 45%;
  font-size: 13px;
}


.rx-drawer .node-tree-box .tree-header{
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.rx-drawer .node-tree-box .tree-body{
  display: flex;
  flex-flow: column;
  width: 100%;
  flex-grow: 1;
  color: #c2c2c2;
  margin-top:5px;
  padding:5px;
}

.rx-drawer .node-tree-box .tree-content{
  background: #313131;
  width: 100%;
  overflow: auto;
  flex-grow: 1;
  height: 0;
  border-bottom: #424242 solid 1px;
  border-right: #424242 solid 1px;
  border-top: #282828 solid 1px;
  border-left: #2f2f2f solid 1px;
}

.node-tree-box .tree-node-title{
  display: flex;
  flex-flow: row;
  align-items: center;
}

.node-tree-box .disable > .tree-node-title{
  color:#888;
}
.node-tree-box .tree-node-title .title-icon{
  position: relative;
  width: 18px;
  height: 18px;
  cursor: pointer;
}


.node-tree-box .tree-node-title .title-icon::before{
  content: '\f0da';
  font: normal normal normal 13px/1 FontAwesome;
  position: absolute;
  top:3px;
  left:6px;
}

.node-tree-box .open > .tree-node-title .title-icon::before{
  content: "\f0d7";
  font: normal normal normal 13px/1 FontAwesome;
  position: absolute;
  top:3px;
  left:6px;
}

.node-tree-box .tree-node.focused{
  background: #073d69;
}

.node-tree-box .leaf > .tree-node-title .title-icon::before{
  content: "";
}

.node-tree-box .tree-node-title .title-text{
  display: flex;
  align-items: center;
  cursor: default;
  flex-grow: 1;
}
/*.node-tree-box .tree-node-title::after{
  position: absolute;
  content: '';
  width: 0; 
  height: 0;
  top: 7px;
  left: 0px;
  border-width: 4px;
  border-style: solid;
  border-color:transparent transparent  transparent #f0f1ef;
}*/

/*.node-tree-box .tree-node-title.open::after{
  position: absolute;
  content: '';
  width: 0; 
  height: 0;
  top: 10px;
  left: 0px;
  border-width: 4px;
  border-style: solid;
  border-color:#f0f1ef transparent transparent  transparent;
}*/

.tree-node-body{
  display: none;
  flex-flow: column;
  padding-left: 12px;
}

.open > .tree-node-body{
  display: flex;
}

.shell-mousefollower{
  position: fixed;
  width: 205px;
  background: #404040;
  pointer-events: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4); 
  opacity: 0.7;
}

.rx-model-mask{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
}

.rx-model-conent{
  padding: 10px;
  background: #fff;
}

.model-content-shell{
  display: flex;
  flex-flow: row;
}

.theme-item{
  padding: 10px;
  margin:10px;
  cursor: pointer;
}

.theme-item:hover{
  color: blue;
}