.rx-fold-item {
  .ant-form-item .ant-form-item-label {
    overflow: visible;
  }

  .rx-fold-base-item {
    position: "relative";

    .base-icon {
      position: absolute;
      top: calc(50% - 5px);
      left: -12px;
      font-size: 10px;
      transition: all 0.3s;
    }
  }
}