body{
  font-size: 14px;
  font-family: SourceHanSansCN-Medium, "Microsoft YaHei";
  color:#6f7476;
  line-height: 30px;
}

h2{
  font-size: 28px;
}

p{
  line-height: 35px;
}

a{
  color:#a69056;
}

.top-header{
  background: #fff;
}

.main-logo{
}

.main-logo img{
  width: 160px;
}

.navbar{
  font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link {
  color:#fff;
}

.top-email{
  border-left:#e9e9e9 solid 1px;
}

.top-email, .top-tel{
  font-size: 16px;
}

.top-tel svg, .top-email svg{
  width: 30px;
  height: 30px;
  color:#d1bf90;
  margin-right: 10px;
}


.banner{
  background-image: url(../images/banner3.jpg);
  background-size: cover;
  background-position: center;
  width:100%;
  height: 600px;
  position: relative;
}

.banner .mask{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  background: rgba(0, 0, 0, 0.4)
}

.page-on-scroll .navbar{
  /*background: #22252a !important;*/
}

.page-on-scroll .topbar{
  display: none !important;
}

.page-on-scroll .wrap-all{
  margin-top: 150px;
}

.banner-text{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  display: flex;
  flex-flow: column; 
  align-items: center;
  justify-content: center; 
  color:#fff; 
  background: rgba(0,0,0,0.1);
}

.banner-text{
  text-align: center;
}

.grey-bg{
  background: #f4f4f4;
}

.btn-bright{
  background: #a69056;
  color: #fff;
}

.footer-text{
  font-size: 13px; line-height: 20px;
}

.footer-title{
  color:#cccccc; font-size:16px;
}

.navbar-brand img{
  width:50px;
}

.post-grid-left{
  padding-right: 20px;
}

.post-grid-inner{
  border:#eee solid 1px; padding: 0px;
}

.post-grid-inner img{
  width: 100%;
}

.post-grid-inner .post-title{
  font-size: 18px;
}

.post-grid-inner .post-date{
  font-size: 13px;
}

.post-grid-right{
  padding-left: 20px;
}

.dropdown:hover .dropdown-menu{
  display: block !important;
}

@media (min-width: 992px) {
  .wrap-all{
    margin-top: 188px;
  }

  .navbar{
    height: 80px;
    display: flex !important;
    flex-flow: row !important;
    align-items: stretch !important;
    background:#a69056 !important;
    padding:0 !important;
  }

  .page-on-scroll .navbar{
    height: 60px;
  }

  .navbar-container{
    display: flex !important;
    flex-flow: row !important;
    align-items: stretch !important;
    padding:0 !important;
  }

  .navbar-container .real-nav{
    display: flex !important;
    flex-flow: row !important;
    align-items: stretch !important;
    padding:0 !important;
  }

  .page-on-scroll .navbar{
    background: #22252a;
  }

  .nav-item.active{
    background: #fff;
  }

  .nav-item.active .nav-link{
    color: #a69056 !important;
  }

  .nav-item {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .navbar-nav .nav-item{
    border-right:#95804a solid 1px !important;
  }

  .navbar-nav .nav-item:last-child{
    border-right:transparent solid 0 !important;
  } 

  .banner-text h2{
    font-size: 70px; line-height: 100px;
  }
}

@media (max-width: 991px) {
  .wrap-all{
    margin-top: 70px;
  }

  .navbar{
    background: #22252a !important;
  }
  .navbar-collapse{
    padding-bottom: 10px;
  }

  .banner-text h2{
    font-size: 50px; line-height: 80px;
  }

  .nav-item .dropdown-menu{
    background: #22252a !important;
    color: #fff !important;
    border:0;
  }

  .nav-item .dropdown-menu .dropdown-item{
    color: #fff !important;
  }

}
@media (max-width: 767px) {
  .banner-text h2{
    font-size: 30px; line-height: 60px;
  }
}

@media (max-width: 575px) {
  .banner-text h2{
    font-size: 20px; line-height: 60px;
  }
}

.carousel-item{
  position: relative;
}

.h2-title, .h2-center-title{
  padding-bottom: 30px;
  position: relative; 
}

.h2-title::after{
  content: "";
  position: absolute;
  bottom:10px;
  left: 0;
  height: 3px;
  background: #a69056;
  width: 60px;
}

.h2-center-title::after{
  content: "";
  position: absolute;
  bottom:10px;
  left: calc(50% - 30px);
  height: 3px;
  background: #a69056;
  width: 60px;
}

.footer{
  background: #0e0e0e;
  color: #777;
}

.footer a{
  color: #777;
}

.go2top{
  width: 56px;
  height: 56px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 200;
  color: #aaa;
  border:#aaa solid 0.25rem;
  font-size: 40px;
  font-weight: 900;
  border-radius: 50%;
  transition:all 0.2s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*about*/
.histrory{
  list-style: none;
  margin: 0;
  padding: 0;
}

.histrory li{
  padding:10px 0px;
  border-bottom: #dbdbdb solid 1px;
}

.big-bright{
  color: #a69056;
  font-weight: bold;
  font-size: 16px;
}

.right-form input, .right-form textarea{
  border:#eee solid 1px;
}
