.rx-component-tree {
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.rx-root-component {
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
}
.rx-canvas-shell {
  position: relative;
  height: 0;
  flex: 1;
  width: 400px;
  transform: scale3d(1, 1, 1);
  display: flex;
  flex-flow: column;
}
.rx-canvas-shell.transition {
  transition: width 0.3s;
}
.rx-canvas-handler.right {
  left: 100%;
}
.canvas-resizing {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: 'w-resize';
}
.shadow-dom-canvas {
  height: 0;
  flex: 1;
  width: 100%;
  overflow: hidden;
  transform: scale3d(1, 1, 1);
  user-select: none;
}
