body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  display: block;
  width: 0.35rem;
  height: 0.35rem;
}

:-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0.3);
  transition: all .2s;
}

.dark ::-webkit-scrollbar-thumb {
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.3);
  transition: all .2s;
}